<!-- ============================================ -->
<!--                Featured Posts                -->
<!-- ============================================ -->
<section id="services-explore">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Portfolio</span>
            <h2 class="cs-title">Explore More</h2>
        </div>
        <ul class="cs-card-group">
            {% if collections.post | length == 0 %}
                <li>No recent projects.</li>
            {% else %}
                {%- for post in collections.featured | reverse -%}
                    <li class="cs-item">
                        <a href="{{ post.url }}" class="cs-link">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="{{ post.data.image }}">
                                <source media="(min-width: 601px)" srcset="{{ post.data.image }}">
                                <img loading="lazy" decoding="async" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="413" height="240" aria-hidden="true">
                            </picture>
                            <h3 class="cs-item-text">{{ post.data.company }}</h3>
                        </a>
                    </li>
                {%- endfor -%}
            {% endif %}
        </ul>
        <a class="cs-button-solid" aria-label="VIew all of my projects" href="/portfolio">View All</a>
    </div>
</section>
