<footer id="cs-footer-107">
    <div class="cs-container">
        <div class="cs-left">
            <!-- Copyright -->
            <span class="cs-copyright">© 2024 Ortiz Web Works</span>
        </div>
        <div class="cs-center">
            <!-- Small Button -->
            <button class="cs-button-solid">Contact Me</button>
        </div>
        <div class="cs-right">
            <!-- Links -->
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="/index" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/portfolio" class="cs-link">Portfolio</a>
                </li>
                <li class="cs-li">
                    <a href="http://www.linkedin.com/in/nicolasortizdesgins" class="cs-link" target="_blank" >LinkedIn</a>
                </li>
                <li class="cs-li">
                    <a href="/assets/images/resume.pdf" class="cs-link" target="_blank">Resume</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
