---
title: 'About'
description: 'Meta description for the page'
permalink: 'about/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Landing                   -->
    <!-- ============================================ -->

<section id="about-me-landing">
    <div class="cs-container">
        <div class="cs-content">
            <p class="cs-quote section fadeUp">
                Hey 👋🏼 I'm Nico 
            </p>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Image of me                     -->
<!-- ============================================ -->

<div id="gallery-565">
    <picture class="cs-picture section fadeUp">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/long.me.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/long.me.webp">
        <img loading="eager" decoding="async" src="/assets/images/long.me.webp" alt="picture" width="5647" height="2124">
    </picture>
</div>

    <!-- ============================================ -->
    <!--             About me - content                   -->
    <!-- ============================================ -->

<section id="about-me-content">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper section fadeUp">Nicolas Ortiz</span>
            <p class="cs-quote section fadeUp">
                A freelance web developer based in Ottawa, Ontario. I merge my experience in web development to create compelling digital experiences, solving problems, telling stories, and captivating audiences.
            </p>
        </div>
    </div>
</section>


    <!-- ============================================ -->
    <!--             Our Mission                   -->
    <!-- ============================================ -->

<section id="toolbelt">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper section fadeUp">Our Mission</span>
            <p class="cs-quote section fadeUp">
                Websites that Fit Your Business Perfectly.
            </p>
            <p class="cs-text section fadeUp">
                At our web development studio, we focus on understanding the unique needs of each business, crafting customized websites that stand out. Our hands-on approach ensures a collaborative journey towards creating a website that exceeds your expectations, ensuring your complete satisfaction.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->

    <section id="why-choose-441">
        <div class="cs-container">
            <ul class="cs-card-group section fadeUp">
                <li class="cs-item">
                    <div class="cs-link">
                        <span class="cs-text">No Limits</span>
                        <p class="cs-item-p">
                            We can edit the design to cater to your tastes. Everything is customizable.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-link">
                        <span class="cs-text">24/7 Support</span>
                        <p class="cs-item-p">
                            No automated systems - When you need help the lead developer answers your call
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <div class="cs-link">
                        <span class="cs-text">Unique Content</span>
                        <p class="cs-item-p">
                            We write unique and engaging content around your company. Everyone is unique.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
                                

    {% include 'components/cta.html' %}

{% endblock %}