---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    {# <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section> #}

<!-- ============================================ -->
<!--                 About Me                 -->
<!-- ============================================ -->

<section id="sbs-1308">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Image-->
            <picture class="cs-picture">
                {# <source media="(max-width: 600px)" srcset="assets/images/avatar.png">
                <source media="(min-width: 601px)" srcset="assets/images/avatar.png"> #}
                <img loading="lazy" decoding="async" src="/assets/images/avatar.png" alt="avatar" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Me</span>
            <h2 class="cs-title">A little about myself</h2>
            <p class="cs-text">
                Hey there! I'm Nicolas Ortiz, a passionate web developer currently studying Interactive Media Design at Algonquin College. For me, web development isn't just a skill – it's a calling. I'm driven by a desire to craft websites that not only look stunning but also function flawlessly.
            </p>
            <p class="cs-text">
                In my work, I'm devoted to delivering websites that exceed expectations. Every site I create achieves 100% page speed, accessibility, SEO, and best practices. Whether it's optimizing images or fine-tuning fonts, I prioritize user experience above all else.
            </p>
            <a class="cs-button-solid" aria-label="Contact me" href="/contact">Contact Me</a>
        </div>
    </div>
</section>


    {% include 'components/cta.html' %}

{% endblock %}