---
title: 'Contact'
description: 'Meta description for the page'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact-490">
    <div class="cs-container">
        <!-- Contact Info -->
        <div class="cs-content">
            <span class="cs-topper">Contact Me</span>
            <h2 class="cs-title">Let's work together.</h2>
            <p class="cs-text">
                Justo eget magna fermentum iaculis eu non diam phasellus vestibulum. Eu volutpat odio facilisis mauris sit amet massa. Sit amet est placerat in egestas
            </p>
        </div>
        <!-- Form -->
        <form id="cs-form-490" name="Contact Form" netlify netlify-honeypot="bot-field" method="post" action="_includes/components/success">
            <label class="hidden">
                Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-490" name="name" placeholder="John/Jane Doe">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-490" name="email" placeholder="name@company.com">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" type="text" id="phone-490" name="phone" placeholder="+1 (206) 987-6543">
            </label>
            <label class="cs-label">
                How Did You Find Me
                <input class="cs-input" type="text" id="find-490" name="find-us" placeholder="Social Media, Family, Friend...">
            </label>
            <label class="cs-label -label-message">
                Message
                <textarea class="cs-input" required name="Message" id="message-490" placeholder="Hello, I’m interested in..."></textarea>
            </label>
            <button class="cs-button-solid" type="submit">Submit Message Now</button>
        </form>
    </div>
</section>
                                
{% include 'components/cta.html' %}
{% endblock %}