---
title: 'Contact'
description: 'Meta description for the page'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact-490">
    <div class="cs-container">
        <!-- Contact Info -->
        <div class="cs-content">
            <span class="cs-topper section fadeUp">Contact Us</span>
            <h2 class="cs-title section fadeUp">Let's work together.</h2>
            <p class="cs-text section fadeUp">
                Ready to bring your digital vision to life? Let's chat about your project or collaboration ideas. Get in touch today and let's build something great together.
            </p>
        </div>
        <!-- Form -->
        <form id="cs-form-490" name="Contact Form" netlify netlify-honeypot="bot-field" method="post" action="/success/" class='section fadeUp'>
            <label class="hidden">
                Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
            <label class="cs-label section fadeUp">
                Name
                <input class="cs-input" required type="text" id="name-490" name="name" placeholder="John/Jane Doe">
            </label>
            <label class="cs-label section fadeUp">
                Email
                <input class="cs-input" required type="text" id="email-490" name="email" placeholder="name@company.com">
            </label>
            <label class="cs-label section fadeUp">
                Phone
                <input class="cs-input" type="text" id="phone-490" name="phone" placeholder="+1 (206) 987-6543">
            </label>
            <label class="cs-label section fadeUp">
                How Did You Find Us
                <input class="cs-input" type="text" id="find-490" name="find-us" placeholder="Social Media, Family, Friend...">
            </label>
            <label class="cs-label -label-message section fadeUp">
                Message
                <textarea class="cs-input" required name="Message" id="message-490" placeholder="Hello, I’m interested in..."></textarea>
            </label>
            <button class="cs-button-solid" type="submit">Submit Message Now</button>
        </form>
    </div>
</section>
                                
{% include 'components/cta.html' %}
{% endblock %}