/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1426 {
    /* Centers topper */
    text-align: center;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    z-index: 1;
    display: flex;
    height: 90vh;
  }
  #hero-1426 .cs-background {
    width: 100%;
    height: 99vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1426 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #hero-1426 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    justify-content: center;
  }
  #hero-1426 .cs-content {
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #hero-1426 .cs-title {
    font-family: "neue-montreal-medium", Arial, sans-serif;
    font-size: clamp(1.9375rem, 3.9vw, 4rem);
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: -0.2px;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #hero-1426 .cs-button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  #hero-1426 .cs-button-solid {
    font-size: 0.9rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    padding: 0 2.14285714rem;
    background-color: var(--headerColor);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s;
    border-radius: 100px;
    width: 11rem;
  }
  #hero-1426 .cs-button-solid:hover {
    background-color: #fff;
    color: var(--headerColor);
  }
  #hero-1426 .cs-button2 {
    background-color: #fff;
    color: var(--headerColor);
    transition: 0.3s ease;
    border: transparent solid 1px;
  }
  #hero-1426 .cs-button2:hover {
    border: var(--headerColor) solid 1px;
  }
}
@media only screen and (min-width: 40rem) {
  #hero-1426 .cs-content {
    max-width: 53.125rem;
  }
  #hero-1426 .cs-text {
    font-size: clamp(1.5rem, 2vw, 1.5625rem);
  }
  #hero-1426 .cs-button-solid {
    padding: 0 2.28571429rem;
    width: 11rem;
  }
}
