/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
html hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  /* Subtle gray color */
  margin: 50px 0;
  /* Adjust as needed */
}
/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0em) {
  :root {
    --primary: #FF6347;
    --primaryLight: #ffd675;
    --secondary: #001f3f;
    --secondaryLight: #001f3f;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(4.75rem, 7.82vw, 20.25rem) 1rem;
  }
  .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  .cs-button-solid {
    font-size: 0.9rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    padding: 0 2.28571429rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  .cs-button-solid:hover {
    background-color: #000;
  }
}
/* Fonts and general styles */
@media only screen and (min-width: 0em) {
  /* roboto-regular - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 500;
    font-display: swap;
    src: local(""), url("/assets/fonts/Roboto-Medium.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/Roboto-Medium.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 700;
    font-display: swap;
    src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 900;
    font-display: swap;
    src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-900.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  body,
  html {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: var(--bodyTextColor);
    overflow-x: hidden;
  }
  *,
  *:before,
  *:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  body {
    transition: background-color 0.3s;
  }
  .container {
    width: 92%;
    margin: auto;
    position: relative;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
  }
  p,
  li,
  a {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
  }
  p,
  li {
    color: #353535;
  }
  a:hover,
  button:hover {
    cursor: pointer;
  }
  .skip {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1111111;
  }
}
/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
}
/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: 0.85vw;
  }
}
#dark-mode-toggle {
  width: 3rem;
  height: 3rem;
  padding: 0;
  background: transparent;
  border: none;
  display: block;
  position: absolute;
  top: 0.625rem;
  right: 4.375rem;
  z-index: 1000;
  overflow: hidden;
}
#dark-mode-toggle img,
#dark-mode-toggle svg {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
#dark-mode-toggle .cs-moon {
  z-index: 2;
  transition: transform 0.3s, opacity 0.3s;
}
#dark-mode-toggle .cs-sun {
  opacity: 0;
  z-index: 1;
  transform: translate(-50%, 100%);
  transition: transform 0.3s, opacity 0.3s;
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #dark-mode-toggle {
    margin: 0;
    position: relative;
    top: auto;
    right: auto;
    transform: none;
  }
  #dark-mode-toggle:hover {
    cursor: pointer;
  }
}
/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation {
    width: 100%;
    max-width: 80rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    /* 12px - 24px */
    padding: clamp(0.7rem, 2vw, 1.5rem);
    /* 12px - 24px */
    position: fixed;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, -50%);
  }
  #cs-navigation.cs-active:before {
    opacity: 1;
  }
  #cs-navigation.cs-active .cs-toggle {
    transform: rotate(180deg);
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
    transform: translateX(0);
    opacity: 1;
    clip-path: circle(100% at 100% 50%);
    background-color: #fff;
  }
  #cs-navigation.cs-active .cs-li {
    opacity: 1;
    transform: translateX(0);
  }
  #cs-navigation.cs-active .cs-li-link {
    transform: translateX(0);
  }
  #cs-navigation .cs-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  #cs-navigation .cs-toggle {
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    /* Ensure it's above other content */
    top: 2rem;
    /* Adjust top positioning */
    right: 1.25rem;
    /* Adjust right positioning */
    transition: transform 0.6s ease, border 0.3s ease, background 0.3s ease;
  }
  #cs-navigation .cs-nav {
    /* sends it to the right in the 3rd position */
    order: 3;
  }
  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    transform-origin: center;
  }
  #cs-navigation .cs-active .cs-line3 {
    opacity: 0;
    bottom: 100%;
  }
  #cs-navigation .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    height: 1rem;
    position: relative;
  }
  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #cs-navigation .cs-line1 {
    top: 0;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: center;
  }
  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  #cs-navigation .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-ul-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(150%);
    background: var(--primary);
    clip-path: circle(0% at 100% -100%);
    transition: opacity 0.6s ease, transform 0.6s ease, clip-path 0.6s ease, background 0.6s ease;
  }
  #cs-navigation .cs-button-solid {
    background: transparent;
    color: var(--primary);
    font-size: var(--headerFontSize);
    padding: 0;
    line-height: 0;
    color: var(--headerColor);
    font-weight: normal;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow: auto;
    overflow: hidden;
  }
  #cs-navigation .cs-li {
    text-align: end;
    opacity: 0;
    list-style: none;
    width: 100%;
    /* transition from these values */
    transition: opacity 0.6s ease;
    padding-right: 2rem;
    overflow: hidden;
    transform: translateX(150%);
    transition: transform 1s ease, opacity 1s ease;
    transition-delay: 0s;
    /* Initial delay */
  }
  #cs-navigation .cs-li:nth-child(5) {
    transition-delay: 0.1s;
    /* Delay for the first item */
  }
  #cs-navigation .cs-li:nth-child(4) {
    transition-delay: 0.12s;
    /* Delay for the second item */
  }
  #cs-navigation .cs-li:nth-child(3) {
    transition-delay: 0.14s;
    /* Delay for the third item */
  }
  #cs-navigation .cs-li:nth-child(2) {
    transition-delay: 0.16s;
    /* Delay for the second item */
  }
  #cs-navigation .cs-li:nth-child(1) {
    transition-delay: 0.18s;
    /* Delay for the third item */
  }
  #cs-navigation .cs-li-link {
    /* 16px - 24px */
    font-size: var(--headerFontSize);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: inline-block;
    position: relative;
  }
  #cs-navigation .cs-li-link.cs-active {
    color: var(--primary);
    font-weight: bold;
  }
  #cs-navigation .cs-li-link:hover {
    color: var(--primary);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-navigation .cs-contact-group {
    display: block;
  }
}
/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  body.scroll #cs-navigation {
    max-width: 54rem;
  }
  body.scroll #cs-expanded {
    gap: 5rem;
  }
  #cs-expanded {
    transition: 0.3s ease gap;
  }
  #cs-navigation {
    width: 100%;
    max-width: 37rem;
    height: 3.5rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    /* 12px - 24px */
    padding: clamp(0.75rem, 2vw, 1.5rem) 0;
    background-color: #fff;
    box-shadow: rgba(89, 95, 100, 0.2) 0px 8px 24px;
    /* 12px - 24px */
    border-radius: clamp(0.75rem, 2vw, 5px);
    display: flex;
    align-items: center;
    position: fixed;
    top: 2rem;
    left: 50%;
    z-index: 10000;
    transform: translateX(-50%);
    transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;
  }
  #cs-navigation .cs-container {
    width: 100%;
    max-width: 90rem;
    margin: auto;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-contact-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  #cs-navigation .cs-ul-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    /* absolutely positioned to be dead center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #cs-navigation .cs-ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation .cs-li {
    list-style: none;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: block;
    position: relative;
    transition: color 0.3s ease, font-size 0.3s ease;
  }
  #cs-navigation .cs-li-link:hover {
    color: var(--primary);
    font-size: clamp(1rem, 2vw, 1.1rem);
  }
  #cs-navigation .cs-li-link.cs-active {
    color: var(--primary);
    font-weight: bold;
  }
  #cs-navigation .cs-button-solid {
    font-size: 0.8rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 10.71428571rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 2rem;
    color: #fff !important;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    border-radius: 5px;
  }
  #cs-navigation .cs-button-solid:hover {
    color: var(--bodyTextColorWhite);
    background-color: #000;
    font-size: 0.8rem;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #cs-navigation .cs-social {
    display: flex;
  }
}
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    min-height: 30vh;
    padding-top: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: #959da5 0px 8px 24px;
  }
  #int-hero:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #int-hero picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #int-hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #int-hero h1 {
    font-size: 2.13333333rem;
    text-align: center;
    width: 96%;
    max-width: 31.25rem;
    margin: 0 auto;
    margin-top: 4.375rem;
    margin-bottom: 1.875rem;
    color: #fff;
    position: relative;
  }
  #int-hero p {
    text-align: center;
    width: 96%;
    max-width: 25rem;
    margin: auto;
    margin-bottom: 1.875rem;
    color: #fff;
    display: block;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 100%;
  }
  #int-hero h1 {
    font-size: 4rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    font-size: inherit;
    height: auto;
    min-height: 18.75rem;
    padding-top: 11.25rem;
    background-attachment: fixed;
    padding-block-end: 6.25rem;
  }
}
/*-- -------------------------- -->
<---       CTA        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-strip-325 {
    padding: var(--sectionPadding);
    background-color: black;
  }
  #contact-strip-325 .cs-stat-group {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 37.5rem;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
  }
  #contact-strip-325 .cs-item {
    list-style: none;
    width: 18.125rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #contact-strip-325 .cs-item:hover .cs-picture {
    transform: scale(1.05);
  }
  #contact-strip-325 .cs-picture {
    width: 5rem;
    height: 5rem;
    /* 12px - 20px */
    margin-right: clamp(0.75rem, 3vw, 1.25rem);
    border-radius: 50%;
    border: 1px solid var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    /* Rotate the hue by 180 degrees */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.6s;
  }
  #contact-strip-325 .cs-flex-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  #contact-strip-325 .cs-icon {
    width: 2.0625rem;
    height: auto;
  }
  #contact-strip-325 .cs-header {
    font-size: 1.25rem;
    color: var(--bodyTextColorWhite);
    font-weight: 900;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    display: block;
  }
  #contact-strip-325 .cs-link,
  #contact-strip-325 .cs-hours {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-decoration: none;
    color: #828282;
    display: block;
    transition: color 0.3s;
  }
  #contact-strip-325 .cs-link:hover {
    color: var(--primary);
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #contact-strip-325 .cs-stat-group {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.25rem;
    row-gap: 2rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-strip-325 .cs-stat-group {
    max-width: 80rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover state */
@media only screen and (min-width: 0rem) {
  #cs-footer-107 {
    padding: 2.5em 1em;
    background: black;
  }
  #cs-footer-107 .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
    display: flex;
  }
  #cs-footer-107 .cs-ul {
    padding: 0;
    margin: auto;
    display: flex;
    /* make flexbox arrange top to bottom */
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  #cs-footer-107 .cs-li {
    list-style: none;
    text-align: center;
    margin: 0;
  }
  #cs-footer-107 .cs-copyright {
    font-size: 0.9375rem;
    line-height: 1.5em;
    margin-top: 1.25rem;
    color: #a0a3bd;
    display: block;
    /* send to first position at the bottom */
    order: 1;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #cs-footer-107 .cs-link {
    /* 15px - 17px */
    font-size: clamp(0.9375rem, 2vw, 1.0625rem);
    line-height: 1.5em;
    text-decoration: none;
    font-weight: 700;
    color: var(--bodyTextColorWhite);
    position: relative;
    transition: color 0.3s ease, font-size 0.3s ease;
  }
  #cs-footer-107 .cs-link:hover {
    color: var(--primary);
    font-size: clamp(1rem, 2vw, 1.1rem);
  }
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
  #cs-footer-107 .cs-ul {
    flex-direction: row;
    /* push everything to the left */
    justify-content: flex-start;
    /* 44px - 88px */
    gap: clamp(2.75rem, 7vw, 5.5rem);
  }
  #cs-footer-107 .cs-copyright {
    /* marign auto on the left pushes away from the rest of the flex children */
    margin: 0 0 0 auto;
    /* send to the right most position */
    order: 2;
  }
}
