@media only screen and (min-width: 0rem) {
  #successPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
  }
  #successPage .success-message {
    margin-bottom: 30px;
  }
}
#cs-footer-107 .cs-li {
  padding-left: 2rem;
}
#cs-footer-107 .cs-li:first-child {
  padding-left: 0;
}
#cs-footer-107 .cs-link {
  padding: 0;
}
