/*-- -------------------------- -->
<---           Landing            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about-me-landing {
        padding: var(--sectionPadding);
        
                    

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            height: 60vh;
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-quote {
            font-family: "neue-montreal-medium",
            Arial,
            sans-serif;
            font-size: clamp(1.9375rem, 3.9vw, 4rem);
            font-weight: 600;
            line-height: 1.3em;
            letter-spacing: -.2px;
            text-align: inherit;
            margin: 0 0 1rem 0;
            color: var(--headerColor);
            position: relative;
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-565 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .cs-picture {
            width: 100%;
            height: auto;
            /* height divided by width */
            aspect-ratio: 360/268;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-565 {
        flex-direction: row;

        .cs-picture {
            /* 268px - 550px */
            height: clamp(16.75rem, 37vw, 34.375rem);
            aspect-ratio: initial;
        }
    }
}

/*-- -------------------------- -->
<---           About me - content            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about-me-content {
        padding: var(--sectionPadding);



        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-quote {
            font-family: "neue-montreal-medium",
                Arial,
                sans-serif;
            font-size: clamp(1.9375rem, 3.9vw, 2.3rem);
            line-height: 1.3em;
            letter-spacing: -.2px;
            text-align: center;
            margin: 0 0 1rem 0;
            color: var(--headerColor);
            position: relative;
            max-width: 45rem;
        }
    }
}

/*-- -------------------------- -->
<---           Our Mission            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #toolbelt {
        padding: var(--sectionPadding);
        padding-bottom: 50px;



        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-quote {
            font-family: "neue-montreal-medium",
                Arial,
                sans-serif;
            font-size: clamp(1.9375rem, 3.9vw, 2.3rem);
            line-height: 1.3em;
            letter-spacing: -.2px;
            text-align: center;
            color: var(--headerColor);
            position: relative;
            max-width: 45rem;
        }

        .cs-text {
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-441 {
        padding: var(--sectionPadding);
        padding-top: 0;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16em);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            /* 12px - 20px */
            gap: clamp(0.75rem, 1.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* changes on tablet */
            max-width: (462/16rem);
            /* 24px - 40px top & bottom */
            /* 24px - 40px left & right */
            padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border-radius: (16/16rem);
            background-color: #fff;
            border: 1px solid #dad9e3;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            position: relative;
            transition: .3s ease;

            &:before {
                /* green border on hover */
                content: "";
                width: 100%;
                height: 100%;
                background: transparent;
                border: 1px solid var(--headerColor);
                border-radius: (12/16rem);
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                opacity: 0;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                transition: 0.3s ease;
            }

            &:hover {
                background-color: #fff;
                transform: translateY(-0.4375rem);
                border-color: var(--primary);

                &:before {
                    opacity: 1;
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-text {
            font-size: 1.5rem;
            text-align: center;
            color: var(--headerColor);
        }

        .cs-number {
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (4/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-desc {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 1.5vw, 1.25rem);
            text-align: center;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-item-p {
            text-align: center;
            font-size: var(--bodyFontSize);
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-441 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 100%;
        }
    }
}


/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1267 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-topper {
            margin-bottom: 1.5rem;
        }
    }

    #services-1267 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }

    #services-1267 .cs-content {
        width: 100%;
        // max-width: 32.625rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
        /* set text align to center if content needs to be centrally aligned */
        text-align: center;
    }

    #services-1267 .cs-title {
        margin-bottom: 0;
    }

    #services-1267 .cs-text {
        padding-top: 1rem;

    }

    #services-1267 .cs-button-solid {
        margin-top: 1.5rem;
    }

    #services-1267 .cs-card-group {
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2.75vw, 1.25rem);
    }

    #services-1267 .cs-item {
        border-radius: 1rem;
        margin-left: 0;
        background-color: #fff;
        width: 100%;
        box-sizing: border-box;
        grid-column: span 12;
        /* 20px - 24px */
        padding: clamp(1.25rem, 2.4vw, 1.5rem);
        list-style: none;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    #services-1267 .cs-h3 {
        font-size: 1.25rem;
        line-height: 1.2em;
        margin: 0 0 1.25rem 0;
        color: var(--headerColor);
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    #services-1267 .cs-item-text {
        margin: 0;
        color: var(--bodyTextColor);
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1267 .cs-container {
        max-width: 80rem;
        align-items: center;
    }

    #services-1267 .cs-item {
        grid-column: span 6;
    }

    #services-1267 .cs-item:nth-of-type(3) {
        order: 4;
    }

}

/* Desktop - 1024px */
// @media only screen and (min-width: 64rem) {
//     #services-1267 .cs-container {
//         flex-direction: column;
//         justify-content: space-between;
//         align-items: center;
//         gap: 2.5rem;
//     }

//     #services-1267 .cs-content {
//         width: 42%;
//         // max-width: 32.625rem;
//     }

//     #services-1267 .cs-wrapper {
//         width: 52%;
//         max-width: 39.375rem;
//         /* sends it to the left */
//         position: relative;
//     }

//     #services-1267 .cs-item {
//         grid-column: span 6;
//     }
// }

// Footer links fix
#cs-footer-107 {
    .cs-li {
        padding-left: 2rem;

        &:first-child {
            padding-left: 0;
        }
    }
    .cs-link {
        padding: 0;
    }
}

