
/*-- -------------------------- -->
<---      Mobile Navigation     -->
<--- -------------------------- -*/
@media only screen and (min-width: 0rem) {
    body {
        &.scroll {
            #cs-navigation {
                .cs-toggle {
                    background: rgb(255, 255, 255);
                }
            }
        }
    }

    #cs-navigation {
        .cs-toggle {
            background: transparent;
        }
    }
}

/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-561 {
        padding: var(--sectionPadding);
        background-color: #fff;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            height: 50vh;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            text-align: center;
        }

        .cs-topper {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1rem);
            line-height: 1.2em;
            text-align: inherit;
            letter-spacing: 0.1em;
            font-weight: 700;
            color: var(--bodyTextColorWhite);
            margin-bottom: (4/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-quote {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 5.1vw, 3.2625rem);
            line-height: 1.2em;
            font-family: "neue-montreal-medium",
                Arial,
                sans-serif;
            letter-spacing: -0.2px;
            margin: 0;
            color: var(--headerColor);
            opacity: 0;
            transition: opacity 1.5s ease,
        }

        /* Animate the quote in when scrolled into view */
        .cs-quote.animate-in {
            opacity: 1;
        }

        .cs-quote span {
            color: var(--headerColor);
            font-family: "neue-montreal-bold", Arial, sans-serif;
        }

        .cs-name {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.7vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            color: var(--primary);
            display: block;
            letter-spacing: 0.01em;
        }
    }
}
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-341 {
        .cs-text {
            text-align: center;
        }
        .cs-title {
            text-align: center;
        }

        padding: var(--sectionPadding);
        background-color: #fff;

        .cs-button-solid {
            width: 10rem;
            text-align: center;
        }
    }

    #services-341 .cs-container {
        width: 100%;
        max-width: 90rem;
        /* Adjust as needed */
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 5rem);
    }

    #services-341 .cs-content {
        text-align: start;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cs-card-group {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* Align items to the top */
        flex-wrap: wrap;
        gap: clamp(1rem, 1.6vw, 2.25rem);
    }

    #services-341 .cs-item {
        list-style: none;
        width: 100%;
        max-width: (500/16rem);
        border-radius: 20px;
        position: relative;
        z-index: 1;
    }

    .cs-link {
        text-decoration: none;
        /* 16px - 24px */
        padding-bottom: 0;
        display: block;
    }

    #services-341 .cs-picture {
        width: 100%;
        height: (340/16rem);
        /* 16px - 24px */
        border-radius: 20px;
        /* clips the img tag corners */
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 10;
        transition: border-radius 0.3s;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition:
                transform 0.8s;
        }
    }

    .cs-h3 {
        font-size: (20/16rem);
        line-height: 1.2em;
        font-family: "neue-montreal-regular";
        margin: 0;
        color: var(--headerColor);
        padding: 1rem;
        transition: color 0.3s
    }


    .cs-item-text {
        font-size: (16/16rem);
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        padding: 1rem 0;
        opacity: 1;
        transition: opacity .8s;
        white-space: nowrap;
        /* Prevent text from wrapping */
        overflow: hidden;
        /* Hide overflowed text */
        text-overflow: ellipsis;
        /* Show ellipsis (...) for overflowed text */
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-341 .cs-card-group {
        flex-wrap: wrap;
    }

    #services-341 .cs-item {
        width: calc(43.3333% - 1.33333rem);
        min-width: 40rem;
    }
    #services-341 .cs-picture {
        height: (400/16rem);
    }
}

@media only screen and (min-width: 64rem) {
    .cs-item {
        width: calc(33.3333% - 1.33333rem);
    }

    .cs-picture img {
        border-radius: 20px;
        filter: blur(0) brightness(1);
        transition: filter 1.3s ease;
    }

    .cs-item-text {
        color: var(--bodyTextColorWhite);
        font-size: var(--topperFontSize);
        font-family: neue-montreal-regular;
        position: absolute;
        margin: 1rem 1rem;
        top: 0;
        left: 0;
        box-sizing: border-box;
        opacity: 0;
        transition: .5s ease;
        z-index: 10;
        background-color: rgba(232, 229, 228, 0.5);
        border-radius: 100px;
        letter-spacing: 1px;
        padding: .5rem 1rem;
    }

    #services-341 .cs-item {
        list-style: none;
        width: 100%;
        max-width: (400/16rem);
        border-radius: 20px;
        position: relative;
        z-index: 1;
        transition: transform 0.3s ease;

        &:hover {
            box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 12px;

            .cs-picture {
                img {
                    transform: scale(1.1);
                    filter: blur(5px) brightness(0.5);
                }
            }

            .cs-item-text {
                opacity: 1;
            }
        }
    }
}



/*-- -------------------------- -->
<---  Individual Project Hero Picture   -->
<--- -------------------------- -*/

// Mobile 0rem
@media only screen and (min-width: 0rem) {

    #img-hero {
        border-radius: 10px;
        box-shadow: none;
        margin: auto;
        img {
            border-radius: 15px;
        }
        &:before {
            display: none;
        }
    }
}
//  Desktop 64rem
@media only screen and (min-width: 64rem) {

    #img-hero {
        max-width: clamp(90rem, 20vw, 100rem);
        border-radius: 15px;
        img {
            border-radius: 15px;
        }
    }

}

/*-- -------------------------- -->
<---  Individual Project (Interior))  -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {

    #blog-content {
        .cs-container {
            max-width: (600/16rem);
            margin: 0 auto;
            padding: 20px;
        }
        .cs-text-topper {
                color: rgb(128, 128, 128);
            }
        .blog-header {
            text-align: center;
            height: 75vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: var(--sectionPadding);
            padding-left: 0;
            padding-right: 0;
        }
        
        .blog-title {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .blog-author-info {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .blog-author {
            background: rgba(232, 229, 228, 0.5);
            border-radius: 100px;
        }

        .blog-author-img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .blog-author,
        .blog-date {
            font-size: 0.9rem;
            color: #666;
        }

        .blog-content {
            margin-top: 20px;
        }

        .featured-image {
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .projectInfo {
            padding-top: 50px;
        }

        .projectInfo li {
            padding-top: 1rem;
        }

        .projectInfo li:first-child {
            padding: 0;
        }

    }
}

@media only screen and (min-width: 48rem) {

    #blog-content {
        .cs-container {
            max-width: (1280/16rem);
        }

        .blog-title {
            font-size: 2rem;
        }

        .blog-header {
            margin: 0 auto;
            max-width: 50rem;

            .cs-title {
                font-size: clamp(1.9375rem, 3.9vw, 4rem);
            }
        }
        
        .content-overview {
            padding: 100px 0;
        }

        .projectInfo {
            max-width: 80%;
            display: flex;
            justify-content: space-between;
            padding: 50px 0;
        }

        .cs-text {
            color: var(--headerColor);
        }

        .cs-text-topper {
            padding-bottom: 1rem;
            color: rgb(128, 128, 128);
        }
    }
}

/*-- -------------------------- -->
<---        Gallery  (individual Project Interior)         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-1446 {
        .cs-container {
            padding: 0;
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: (24/16rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            color: var(--headerColor);
        }

        .cs-text-topper {
            color: rgb(128, 128, 128);
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr;
            /* Default to one image per row on mobile */
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
            position: relative;
            justify-content: center;
            /* Center items horizontally */
            align-items: center;
            /* Center items vertically */
        }

        .cs-image {
            /* Make images taller and wider */
            width: 100%;
            /* Ensure aspect ratio is maintained */
            border-radius: 15px;
            /* clips the image corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                width: 100%;
                /* Ensure the image covers the container */
                object-fit: cover;
                /* Center the image */
                display: block;
                margin: 0 auto;
                max-width: calc(100% - 2rem);
                /* Adjust for padding */
                max-height: clamp(25rem, 60vw, 30rem);
                /* Adjust as needed */
                border-radius: 15px;
            }
        }
    }
}

/* Larger Screens - Two images per row */
@media only screen and (min-width: 64rem) {
    #gallery-1446 {
        .cs-gallery {
            grid-template-columns: repeat(auto-fit, minmax(calc(50% - 0.625rem), 1fr));
            /* Two images per row */
        }

        .cs-image {
            min-height: clamp(20rem, 60vw, 20rem);

            img {
                margin: 0;
            }
        }
    }
}

/*-- -------------------------- -->
^^ Explore More (individual Project Interior) ^^
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-explore {
        padding: var(--sectionPadding);
        padding-top: 0;
        background-color: #fff;

        .cs-container {
            width: 100%;
            max-width: 80rem;
            /* Adjust as needed */
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-text {
            text-align: center;
        }

        .cs-button-solid {
            width: 10rem;
            text-align: center;
        }

        .cs-content {
            text-align: start;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: 31.25rem;
            border-radius: 20px;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            height: 15rem;
            /* 16px - 24px */
            border-radius: 20px;
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;
            transition: border-radius 0.3s;
        }

        .cs-picture img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform 0.8s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-explore {
        .cs-card-group {
            flex-wrap: wrap;
        }
        .cs-item {
            width: calc(43.3333% - 1.33333rem);
        }
    }
}

@media only screen and (min-width: 64rem) {


    #services-explore .cs-item {
        list-style: none;
        width: 100%;
        max-width: 25rem;
        border-radius: 20px;
        position: relative;
        z-index: 1;
        transition: transform 0.3s ease;

        &:hover {
            box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 12px;
            transform: translateY(-0.4375rem);

            .cs-picture img {
                transform: scale(1.1);
                filter: blur(5px) brightness(0.5);
            }
            .cs-item-text {
                opacity: 1;
            }
        }
    }
}
