/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1426 {
        /* Centers topper */
        text-align: center;
        /* prevents the topper line from causing an overflow */
        overflow: hidden;
        z-index: 1;
        display: flex;
        height: 80vh;

        .cs-background {
            width: 100%;
            height: 99vh;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: (48/16rem);
            justify-content: center;
        }

        .cs-content {
            width: 100%;
            max-width: (400/16rem);
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .cs-topper {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 1.5vw, 1rem);
            line-height: 1.2em;
            font-weight: 700;
            letter-spacing: 0.1em;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: (16/16rem);
            display: inline-block;
            position: relative;
        }

        .cs-title {
            font-family: "neue-montreal-medium", Arial, sans-serif;
            font-size: clamp(1.9375rem, 3.9vw, 4rem);
            font-weight: 900;
            line-height: 1.3em;
            letter-spacing: -.2px;
            text-align: inherit;
            margin: 0 0 1rem 0;
            color: var(--headerColor);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1.5rem, 2vw, 2rem);
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            max-width: (650/16rem);
            margin: 0;
            /* 24px - 40px */
            margin-bottom: clamp(1.5rem, 4.2vw, 3rem);
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: (8/16rem);
        }

.cs-button-solid {
    font-size: (0.9rem);
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    padding: 0 (30/14rem);
    background-color: var(--headerColor);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: background-color 0.3s;
    border-radius: 100px;
    width: 10rem;

    &:hover {
        background-color: #fff;
        color: var(--headerColor);
    }
}
        .cs-button2 {
            background-color: #fff;
            color: var(--headerColor);
            transition: .3s ease;
            border: transparent solid 1px;

            &:hover {
                border: var(--headerColor) solid 1px;
            }
        }
    }
}

@media only screen and (min-width: 40rem) {
    #hero-1426 {
        .cs-content {
            max-width: (850/16rem);
        }
        .cs-text {
            font-size: clamp(1.5rem, 2vw, 1.5625rem);
        }
        .cs-button-solid {
            padding: 0 (32/14rem);
            width: 11rem;

        }

    }
}
