/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-561 {
        padding: var(--sectionPadding);
        // background-color: var(--headerColor);
        background-color: black;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-topper {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: 0.1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: (4/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (24/16rem);

            &:before {
                /* orange line */
                content: "";
                width: (50/16rem);
                height: 2px;
                background: var(--primary);
                opacity: 1;
                display: block;
            }
        }

        .cs-quote {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--bodyTextColorWhite);
            opacity: 0;
            transition: opacity 1.5s ease,
        }

        /* Animate the quote in when scrolled into view */
        .cs-quote.animate-in {
            opacity: 1;
        }

        .cs-quote span {
            color: var(--primary);
        }

        .cs-name {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.7vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            color: var(--primary);
            display: block;
            letter-spacing: 0.01em;
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-341 {
        padding: var(--sectionPadding);
        background-color: #fff;
        .cs-button-solid {
            width: 10rem;
            text-align: center;
        }
    }

    #services-341 .cs-container {
        width: 100%;
        max-width: 80rem;
        /* Adjust as needed */
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }

    #services-341 .cs-content {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cs-card-group {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* Align items to the top */
        flex-wrap: wrap;
        gap: clamp(1rem, 1.6vw, 1.25rem);
    }

    #services-341 .cs-item {
        list-style: none;
        width: 100%;
        max-width: (500/16rem);
        border-radius: 20px;
        position: relative;
        z-index: 1;
        box-shadow: rgba(149, 157, 165, 0.245) 0px 8px 24px;
    }

    .cs-link {
        text-decoration: none;
        /* 16px - 24px */
        padding-bottom: 0;
        display: block;
    }

    #services-341 .cs-picture {
        width: 100%;
        height: (240/16rem);
        /* 16px - 24px */
        border-radius: 20px 20px 0 0;
        /* clips the img tag corners */
        overflow: hidden;
        display: block;
        position: relative;
        z-index: 10;
        transition: border-radius 0.3s;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition:
                transform 0.8s;
        }
    }

    .cs-h3 {
        font-size: (20/16rem);
        line-height: 1.2em;
        text-align: inherit;
        font-weight: lighter;
        margin: 0;
        color: var(--headerColor);
        padding: 1rem;
        text-align: center;
        transition: color 0.3s
    }

    .cs-item-text {
        font-size: (16/16rem);
        line-height: 1.5em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColor);
        padding: 0rem 1rem 1rem;
        text-align: center;
        opacity: 1;
        transition: opacity .8s;
        white-space: nowrap;
        /* Prevent text from wrapping */
        overflow: hidden;
        /* Hide overflowed text */
        text-overflow: ellipsis;
        /* Show ellipsis (...) for overflowed text */
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-341 .cs-card-group {
        flex-wrap: wrap;
    }

    .cs-item {
        width: calc(43.3333% - 1.33333rem);
    }

}

@media only screen and (min-width: 64rem) {
    .cs-item {
        width: calc(33.3333% - 1.33333rem);
    }
    .cs-picture{
        border-radius: 20px;
    }
    .cs-item-text {
        opacity: 0;
    }
    #services-341 .cs-item {
        list-style: none;
        width: 100%;
        max-width: (400/16rem);
        border-radius: 20px;
        position: relative;
        z-index: 1;
        box-shadow: none;
        transition:
            box-shadow 0.3s,
            transform 0.3s;

        &:hover {
            box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
            transform: translateY(-0.4375rem);

            .cs-picture {
                img {
                    transform: scale(1.1);
                }
            }

            .cs-item-text {
                opacity: 1;
            }

            .cs-h3 {
                color: var(--primary);
            }

            .cs-picture {
                border-radius: 20px 20px 0 0;
            }
        }
    }
    
}


/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-888 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            text-align: center;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            text-align: center;

            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (0.9rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            color: #fff;
            padding: 0 (32/14rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: background-color 0.3s;
            border-radius: 5px;

            &:hover {
                background-color: #000;
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (630/16rem);
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            /* changes at small desktop then again at large desktop */
            width: 100%;
            /* 44px - 60px */
            padding: clamp(2.75rem, 5vw, 3.75rem) (32/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* clips cs-icon overflowing */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 2;
            position: relative;
            transition: scale 0.3s ease;

            &:hover {
                scale: 1.01;
            }

            &:nth-of-type(1) {
                background-color: var(--primary);
                border-radius: 20px;
            }

            &:nth-of-type(4) {
                background-color: black;
                border-radius: 20px;
            }

            &:nth-of-type(2) {
                background-color: black;
                border-radius: 20px;
            }

            &:nth-of-type(3) {
                background-color: var(--primary);
                border-radius: 20px;
            }
        }

        .cs-number {
            /* 39px - 49px */
            font-size: clamp(2.4375rem, 6vw, 3.0625rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 900;
            margin: 0 0 (12/16rem) 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-desc {
            /* 16px -20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            margin: 0;
            color: white;
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-888 {
        .cs-item {
            grid-column: span 1;
            &:nth-of-type(1) {
                background-color: var(--primary);
            }

            &:nth-of-type(2) {
                background-color: black;
            }

            &:nth-of-type(3) {
                background-color: black;
            }

            &:nth-of-type(4) {
                background-color: var(--primary);
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-888 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-content {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}
