---
title: 'Ortiz Web Works | Web Development | Ottawa, ON'
description: 'Ortiz Web Works homepage'
permalink: '/index.html'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/critical.css" />
    <link rel="stylesheet" href="/assets/css/local.css" media="print" onload="this.media='all'; this.onload=null;" />
    <noscript>
    <link rel="stylesheet" href="/assets/css/local.css">
    <meta name="robots" content="index, follow">
    </noscript>


    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426" class="section fadeUp">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title"> Creating exceptional digital experiences for clients worldwide.</h1>
            <div class="cs-button-group section fadeUp">
                <a href="/contact" class="cs-button-solid cs-button">Contact Me</a>
                <a href="/portfolio" class="cs-button-solid cs-button2">View Portfolio</a>
            </div>
        </div>
    </div>
</section> 

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-5">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper section fadeUp">Our Work</span>
            <h2 class="cs-title section fadeUp">What We Do</h2>
            <p class="cs-text section fadeUp">
                We specialize in creating custom web designs for small businesses across Canada. Our handcrafted code ensures top performance, attracting more customers and boosting your revenue.</p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item section fadeUp">
                <img src="assets/svgs/mobile.svg" alt="Description of SVG Image">
                <span class="cs-header">Mobile-Friendly Approach</span>
                <p class="cs-text">We prioritize mobile devices, then tailor your site for tablets and desktops.
                </p>
            </li>
            <li class="cs-item section fadeUp">
                <img src="assets/svgs/responsive.svg" alt="Description of SVG Image">
                <span class="cs-header">Fully Responsive</span>
                <p class="cs-text">Your website will look great on any screen, ensuring new clients can access it from anywhere.</p>
            </li>
            <li class="cs-item section fadeUp">
                <img class="last-icon" src="assets/svgs/optimized.svg" alt="Description of SVG Image">
                <span class="cs-header">Optimization</span>
                <p class="cs-text">We optimize your site for mobile devices, improving your search engine performance.</p>
            </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                   Selected Projects                   -->
<!-- ============================================ -->

<section id="services-341">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper section fadeUp">Portfolio</span>
            <h2 class="cs-title section fadeUp">Featured Projects</h2>
            <p class="cs-text section fadeUp">
                Explore standout projects showcasing our web development journey.
            </p>
        </div>
        <ul class="cs-card-group section fadeUp">
            {% if collections.post | length == 0 %}
                <li>No recent projects.</li>
            {% else %}
                {%- for post in collections.featured | reverse -%}
                    <li class="cs-item section fadeUp">
                        <a href="{{ post.url }}" class="cs-link">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="{{ post.data.image }}">
                                <source media="(min-width: 601px)" srcset="{{ post.data.image }}">
                                <img loading="lazy" decoding="async" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="413" height="240" aria-hidden="true">
                            </picture>
                            <h3 class="cs-item-text">{{ post.data.company }}</h3>
                            {# <p class="cs-item-text">{{ post.data.description | safe }}</p> #}
                        </a>
                    </li>
                {%- endfor -%}
            {% endif %}
        </ul>
        <a class="cs-button-solid" aria-label="learn more about our programs" href="/portfolio">View All</a>
    </div>
</section>
    {% include 'components/cta.html' %}
{% endblock %}

