---
title: 'Nicolas Ortiz Develops | Web Development | Ottawa, ON'
description: 'Nicolas Ortiz Web Development Portfolio Homepage'
preloadImg: '/assets/images/landingBlur.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/critical.css" />
    <link rel="stylesheet" href="/assets/css/local.css" media="print" onload="this.media='all'; this.onload=null;" />
    <noscript>
    <link rel="stylesheet" href="/assets/css/local.css">
    </noscript>


    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">web developer</span>
            <h1 class="cs-title">Nicolas Ortiz</h1>
            <p class="cs-text">
                Creating digital experiences with passion and precision. Welcome to my portfolio.
            </p>
            <div class="cs-button-group">
                <a href="/contact" class="cs-button-solid cs-button">Contact Me</a>
                <a href="/portfolio" class="cs-button-solid cs-button2">View Portfolio</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/landingBlur-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landingBlur.webp">
        <img loading="lazy" decoding="async" src="/assets/images/landingBlur.webp" alt="field" width="1200" height="496" aria-hidden="true">
    </picture>
</section> 


<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->

<section id="quote-561">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Quote</span>
                <p class="cs-quote">
                " In the digital age, your website is often the first point of contact between you and your potential customers. "<br><br><span>Make it count.</span>
                </p>
        </div>
    </div>
</section>
                            

<!-- ============================================ -->
<!--                   Selected Projects                   -->
<!-- ============================================ -->

<section id="services-341">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Portfolio</span>
            <h2 class="cs-title">Featured Projects</h2>
            <p class="cs-text">
                Explore standout projects showcasing my web development skills and innovation.
            </p>
        </div>
        <ul class="cs-card-group">
            {% if collections.post | length == 0 %}
                <li>No recent projects.</li>
            {% else %}
                {%- for post in collections.featured | reverse -%}
                    <li class="cs-item">
                        <a href="{{ post.url }}" class="cs-link">
                            <picture class="cs-picture">
                                <source media="(max-width: 600px)" srcset="{{ post.data.image }}">
                                <source media="(min-width: 601px)" srcset="{{ post.data.image }}">
                                <img loading="lazy" decoding="async" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="413" height="240" aria-hidden="true">
                            </picture>
                            <h3 class="cs-h3">{{ post.data.title }}</h3>
                            <p class="cs-item-text">{{ post.data.description | safe }}</p>
                        </a>
                    </li>
                {%- endfor -%}
            {% endif %}
        </ul>
        <a class="cs-button-solid" aria-label="learn more about our programs" href="/portfolio">View All</a>
    </div>
</section>


<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-888">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">My Mission</span>
            <h2 class="cs-title">Crafting Websties for Success</h2>
            <p class="cs-text">
                When I build your website, it's more than just aesthetics – it's about delivering a seamless user experience. From fast loading times to smooth navigation and high search rankings, I ensure every aspect enhances your online presence.
            </p>
            <p class="cs-text">
                I delve deep into details, optimizing images for speed and handling fonts for accessibility. With SEO best practices and industry standards, your website becomes a standout, ready to elevate your online presence significantly.
            </p>
            <a href="/contact" class="cs-button-solid">Contact Me</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">25+</span>
                <span class="cs-desc">Professional <br>Experts</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">4.8k</span>
                <span class="cs-desc">Patients Served <br>Successfully</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">8+</span>
                <span class="cs-desc">Innovative Special <br>Equipments</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">7</span>
                <span class="cs-desc">Winning <br>Awwards</span>
            </li>
        </ul>
    </div>
</section>
    {% include 'components/cta.html' %}
    <script defer src="/assets/js/quote.js"></script>
{% endblock %}
